<!DOCTYPE html>
<html>
<head>
  <title>Test Example</title>
</head>

<body>
  {% if not user %}
    <h1 id="login"><a href="/login">LOGIN</a></h1>
    <h1 id="signup"><a href="/signup">SIGN UP</a></h1>
    <p>NO USER LOGGED IN</p>
  {% else %}
    <p>{{ user }} LOGGED IN</p>
	<p><a href="/logout">Logout</a></p>
    {% if admin %}
      <h2 id="admin_settings"><a href="/admin">Admin Settings</a></h2>
    {% else %}
      <h2 id="user_settings"><a href="/settings/{{ user }}">Settings</a></h2>
	{% endif %}
  {% endif %}
<body>
</html>
